{% extends 'portfolio/base.html' %}

{% block content %}
    <section id="about-me">
        <h2>
            About Me
        </h2>
        <p>
            As a bat conservationist, I seek to develop practical, equitable, and meaningful solutions to bat conservation challenges through collaborative research, partnership with local communities, and public engagement and outreach.
            I recently completed my PhD with the conservation of endangered pollinating bats in northeast Mexico. Check out a newsletter about this project here.
            I am also passionate about science communication, empowering the next generation of scientists, and supporting women and girls in STEM/STEAM. I welcome opportunities for presentations and speaking engagements, as well as opportunities to share my experiences as a woman in science and discuss science careers, so feel free to contact me!
            NEW! Check out my shop on Redbubble for some unique bat clothes and other swag, designed with images from my bat research from around the world! All proceeds support my bat outreach activities.
            https://batsforlife.redbubble.com
             As a bat conservationist, I seek to develop practical, equitable, and meaningful solutions to bat conservation challenges through collaborative research, partnership with local communities, and public engagement and outreach.
            I recently completed my PhD with the conservation of endangered pollinating bats in northeast Mexico. Check out a newsletter about this project here.
            I am also passionate about science communication, empowering the next generation of scientists, and supporting women and girls in STEM/STEAM. I welcome opportunities for presentations and speaking engagements, as well as opportunities to share my experiences as a woman in science and discuss science careers, so feel free to contact me!
            NEW! Check out my shop on Redbubble for some unique bat clothes and other swag, designed with images from my bat research from around the world! All proceeds support my bat outreach activities.
            https://batsforlife.redbubble.com
        </p>
        <figure>
            <img src="https://www.irishtimes.com/polopoly_fs/1.3932089.1561038104!/image/image.jpg_gen/derivatives/ratio_1x1_w1200/image.jpg" alt="Varsha Chalise Rai">
            <figcaption> &copy Sailung, Dolakha, 2017</figcaption>

        </figure>

        <div id="photo-gallery">
            <div>phtotos gallery</div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

    </section>
{% endblock %}