{% extends 'portfolio/base.html' %}

{% block content %}
    <section class="grid-section">
            <div class="grid-section-child">
                <div></div>
                <p>
                    2) User cant go back during recording. DONE
                    3) Battery % checking before exam.start and give warning on low battery. DONE
                    4) Storage checking before exam and warning on very low memory available DONE
                </p>
            </div>

            <div class="grid-section-child">
                 <div></div>
                gfdhgfhdf
            </div>
            <div class="grid-section-child">
                 <div></div>
                gfdhgfhdf
            </div>
            <div class="grid-section-child">
                 <div></div>
                gfdhgfhdf
            </div>


        </section>
{% endblock %}