{% extends 'portfolio/base.html' %}

{% block content %}
    <section id="home">
        <h2>Early career at researcher from Nepal</h2>
        <p>I completed my Masters in Environmental Science in 2018 from the Central Department of Environmental Science, Tribhuvan University, Nepal with the majors in Biodiversity Conservation and Management. It was at the very stage that I got fascinated with bats, which led to my thesis on these stunning creatures in Sailung and Melung, Dolakha, Nepal.
            I aspire to contribute to the research and conservation of bats.
            "Conserving the world's bats and their ecosystems to ensure a healthy planet" - Bat Conservation International (http://www.batcon.org/)</p>
    </section>
{% endblock %}